<box
  class="w-full max-w-[300px] h-[150px] border border-[#181818] rounded-[4px] p-3 m-2 space-y-2 flex flex-col transition-all duration-[.2s] ease-linear hover:shadow-[0px_0px_15px_#111111]"
>
  <article class="flex items-center w-full">
    <div class="flex items-center w-full space-x-3">
      <img
        src="https://github.com/rickytodev.png"
        class="w-[35px] h-[35px] rounded-full"
      />
      <h1>Prueba</h1>
    </div>

    <div class="flex justify-start items-center mr-0.5">
      <i class="ri-star-fill text-yellow-400"></i>
      <i class="ri-star-fill text-yellow-400"></i>
      <i class="ri-star-fill text-yellow-400"></i>
      <i class="ri-star-fill text-yellow-400"></i>
      <i class="ri-star-fill text-[#323232]"></i>
    </div>
  </article>

  <p class="text-[14px] w-full h-full flex justify-center items-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
    provident,
  </p>
</box>
