---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1 class="texto-titulo">Acerca de Nosotros</h1>
    <h2 class="texto-subtitulo">
        Somos una empresa 100% mexicana.
        <br />
        <br />
        Somos una empresa de desarrollo web, asesorías, auditorias de tú web y también
        ofrecemos soluciones de software para tú empreza o negocio.
        <br />
        <br />
        Tenemos un equipo de profesionales que te ayudarán a llevar a cabo tus proyectos.
        <br />
        <br />
        Tenemos una amplia experiencia en el desarrollo de software y páginas web.
        <br />
        <br />
        Nuestros servicios son de calidad y a un precio accesible.
        <br />
        <br />
        Contáctanos para más información.
    </h2>
</Layout>
