---
import Navigation from "../components/navigation.astro";
import Pie from "../components/pie.astro";
---

<script type="text/javascript" is:inline>
    fetch("https://api-blog.carlosmares.dev/entries", {
        method: "GET",
    })
        .then((response) => response.json())
        .then((data) => {
            const dataDiv = document.getElementById("data");
            console.log(JSON.stringify(data, null, 2));
            dataDiv.innerHTML = JSON.stringify(data, null, 2); // Convert object to string and format it nicely
        })
        .catch((error) => {
            console.error("Error fetching data:", error);
            const dataDiv = document.getElementById("data");
            dataDiv.innerHTML = "Error loading data.";
        });
</script>

<Navigation />
<div class="wrapper">
    <main>
        <div class="text-center" id="data"></div>
    </main>
</div>
<footer class="relative w-full">
    <Pie />
</footer>
