---
import Misionvision from "@components/misionvision.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1 class="texto-titulo">Descripción General</h1>
    <p class="texto-parrafo">
        <Misionvision />
        <br />
        <br />
        <span class="texto-subtitulo">Historia de la Empresa</span>
        <br />
        <br />
        La empresa empeso en el año 2024 con el objetivo de ser la mejor empresa
        de desarrollo de software.
        <br />
        Comenzo como una pequeña idea y termino siendo una gran empresa.
    </p>
</Layout>
