---
import Card from "../components/card.astro";
import Home from "../components/home.astro";
import Navigation from "../components/navigation.astro";
import Pie from "../components/pie.astro";
import "../styles/style.scss";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Carlos Mares Dev</title>
  </head>
  <body>
    <Navigation />
    <div class="wrapper">
      <main>
        <Home />
        <div style="margin-left: 30%; margin-top:4%">
          <Card
            hideImg={false}
            titulo="Servicios Especializados de Desarrollo de Software"
            texto="Soluciones a medida que impulsan la eficiencia y competitividad de su negocio. Innovación, integración perfecta y soporte continuo para llevar su empresa al siguiente nivel."
            url="/serviciodev"
          />
        </div>
      </main>
    </div>
    <footer class="relative w-full">
      <Pie />
    </footer>
  </body>
</html>
