---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Carlos Mares Dev"
  description="Somos una empresa de desarrollo web, asesorías, auditorias de tú web y también ofrecemos soluciones de software para tú empreza o negocio."
>
  <h1 class="texto-titulo">Transformando ideas en soluciones Tecnologicos</h1>
  <h2 class="texto-subtitulo">
    Ofrecemos soluciones personalizadas en desarrollo de software,auditorías
    exhaustivas y asesoría estratégica para impulsar el crecimiento de tu
    negocio.
  </h2>
</Layout>
