---
import Navigation from "../components/navigation.astro"
import '../styles/style.scss'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carlos Mares Dev</title>
	</head>
	<body>
		<Navigation />
		<div class="m-10 p-2">
			<img src="logo-rbg.png" alt="logo" class="mini-logo">
			<p class="m-2 p-2 text-2xl">
				Somos una empresa de desarrollo de software que crea soluciones tecnológicas personalizadas para optimizar procesos y transformar negocios.
			</p>
		</div>
	</body>
</html>
