---
import { marked } from "marked";
import Navigation from "../components/navigation.astro";
import Pie from "../components/pie.astro";
import "../styles/style.scss";

const markdown = `## Carta de Privacidad

**Última actualización: 19 de Septiembre de 2024**

En Carlos Mares Dev (en adelante, "nosotros", "nuestro"), valoramos tu privacidad y estamos comprometidos a proteger tus datos personales. Esta carta de privacidad explica cómo recopilamos, usamos, compartimos y protegemos tu información personal.

## 1. Información que Recopilamos

Podemos recopilar la siguiente información personal:

- **Datos de contacto:** nombre, dirección, correo electrónico, número de teléfono.
- **Datos de uso:** información sobre cómo utilizas nuestro sitio web y servicios.

## 2. Cómo Usamos Tu Información

Utilizamos tu información personal para:

- Proporcionar y mejorar nuestros servicios.
- Procesar transacciones y enviarte confirmaciones.
- Comunicarte sobre cambios en nuestros servicios o políticas.
- Enviarte información promocional, si has optado por recibirla.

## 3. Compartir Tu Información

No compartiremos tu información personal con terceros sin tu consentimiento, excepto en las siguientes circunstancias:

- Con proveedores de servicios que nos ayudan a operar nuestro negocio (por ejemplo, procesadores de pagos, servicios de envío).
- Si la ley lo requiere o en respuesta a un proceso legal.

## 4. Seguridad de la Información

Implementamos medidas de seguridad razonables para proteger tu información personal de accesos no autorizados, alteraciones, divulgaciones o destrucción. Sin embargo, ten en cuenta que ningún método de transmisión por Internet o almacenamiento electrónico es 100% seguro.

## 5. Tus Derechos

Dependiendo de tu ubicación, puedes tener ciertos derechos sobre tus datos personales, incluyendo:

- El derecho a acceder a tu información.
- El derecho a solicitar la corrección de datos inexactos.
- El derecho a solicitar la eliminación de tus datos.

## 6. Cambios en Esta Carta de Privacidad

Nos reservamos el derecho de modificar esta carta de privacidad en cualquier momento. Cualquier cambio será efectivo una vez publicado en esta página. Te recomendamos revisar periódicamente esta carta para estar al tanto de cualquier actualización.

## 7. Contacto

Si tienes preguntas o inquietudes sobre esta carta de privacidad, contáctanos en:

Nombre de la Empresa: Carlos Mares Dev

[Correo electrónico de contacto](developer@carlosmares.dev)

[Teléfono](+524642050882)`;

const renderedMarkdown = marked(markdown);
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Carlos Mares Dev</title>
    </head>
    <body>
        <div class="wrapper">
            <Navigation />
            <div class="wrapper">
                <!-- Usa set:html para inyectar el HTML generado por marked -->
                <div set:html={renderedMarkdown} />
                <footer>
                    <Pie />
                </footer>
            </div>
        </div>
    </body>
</html>

<style is:inline>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f5f5dc; /* Un color de fondo más claro */
        color: #333; /* Color del texto más oscuro */
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
        color: #222;
    }

    h1 {
        font-size: 3rem; /* Tamaño ajustado para el título principal */
    }

    h2 {
        font-size: 2.75rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    p,
    li,
    a {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    strong {
        font-size: 2.3rem;
    }
</style>
