---
import Navigation from "../components/navigation.astro";
import Pie from "../components/pie.astro";
---

<Navigation />
<div class="wrapper">
    <main></main>
</div>
<footer class="relative w-full">
    <Pie />
</footer>
