---
import Stars from "@/components/cards/Stars.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Carlos Mares Dev"
  description="Somos una empresa de desarrollo web, asesorías, auditorias de tú web y también ofrecemos soluciones de software para tú empreza o negocio."
>
  <section class="flex flex-wrap w-full">
    <Stars />
    <Stars />
    <Stars />
  </section>
</Layout>
