---
interface Props {
  href?: string;
  title?: string;
  icon?: string;
}

const { href, title, icon } = Astro.props;
---

<a
  href={href}
  class="flex justify-center items-center px-4 py-2 border border-[#181818] rounded-[4px] text-[14px] hover:bg-[#111111]"
>
  <i class=`ri-${icon}-fill font-normal mr-3`></i>
  {title}
</a>
