---
const { titulo, texto, imagen, hideImg = true, url } = Astro.props;
---

<div class="tarjeta">
    <h2 class="titulo-tarjeta">{titulo}</h2>
    <div class="contenido-tarjeta">
        {
            hideImg && (
                <img
                    src={imagen}
                    alt="Descripción de la imagen"
                    class="imagen-tarjeta"
                />
            )
        }
        <div class="texto-tarjeta">
            <p>
                {texto}
            </p>
            <p style="display: flex; justify-content: center;">
                <a href=`${url}` class="enlace-tarjeta"
                    >Haz clic aquí para más información</a
                >
            </p>
        </div>
    </div>
</div>

<style is:inline>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .tarjeta {
        width: 100%;
        background-color: #007bff; /* Fondo azul */
        padding: 20px;
        box-sizing: border-box;
    }

    .titulo-tarjeta {
        text-align: center;
        margin-bottom: 20px;
        color: #ffffff; /* Texto blanco para contraste */
    }

    .contenido-tarjeta {
        display: flex;
        align-items: flex-start; /* Alinear elementos al inicio verticalmente */
    }

    .imagen-tarjeta {
        width: 150px;
        height: auto;
        margin-right: 20px;
    }

    .texto-tarjeta {
        flex: 1;
        color: #ffffff; /* Texto blanco para contraste */
    }

    .texto-tarjeta p {
        margin-bottom: 10px; /* Espacio entre párrafos */
        text-align: justify;
    }

    .enlace-tarjeta {
        color: #ffff00; /* Color amarillo para el enlace */
        text-decoration: underline;
        font-size: 16px;
    }
</style>
