<footer class="w-full bg-[#090909] py-5 flex justify-center items-center">
  <div class="w-[95%] max-w-[1000px]">
    <section
      class="flex w-full border-b border-[#181818] py-10 max-[900px]:flex-col max-[900px]:space-y-10"
    >
      <h1 class="w-full font-normal text-[25px] max-[600px]:text-center">
        Carlos Mares Dev
      </h1>
      <article class="w-full flex max-[600px]:flex-col max-[600px]:space-y-8">
        <section class="w-1/3 space-y-3 max-[600px]:w-full">
          <h1 class="text-[15px] font-semibold max-[600px]:text-center">
            Proyectos
          </h1>
          <ul
            class="flex flex-col text-[12px] space-y-2 max-[600px]:flex-row max-[600px]:space-y-0 max-[600px]:space-x-4 max-[600px]:justify-center flex-wrap"
          >
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Descripcción General
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Características
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Soluciones
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Tutoriales
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
          </ul>
        </section>
        <section class="w-1/3 space-y-3 max-[600px]:w-full">
          <h1 class="text-[15px] font-semibold max-[600px]:text-center">
            Compañia
          </h1>
          <ul
            class="flex flex-col text-[12px] space-y-2 max-[600px]:flex-row max-[600px]:space-y-0 max-[600px]:space-x-4 max-[600px]:justify-center flex-wrap"
          >
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Acerca de Nosotros
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Terminos y Condiciones
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Privacidad
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
          </ul>
        </section>
        <section class="w-1/3 space-y-3 max-[600px]:w-full">
          <h1 class="text-[15px] font-semibold max-[600px]:text-center">
            Recursos
          </h1>
          <ul
            class="flex flex-col text-[12px] space-y-2 max-[600px]:flex-row max-[600px]:space-y-0 max-[600px]:space-x-4 max-[600px]:justify-center flex-wrap"
          >
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Blog
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
            <a
              href=""
              class="text-gray-400 group flex jusstify-start items-center"
            >
              Centro de Ayuda
              <i
                class="ri-external-link-line hidden ml-1 group-hover:block max-[600px]:group-hover:hidden"
              ></i>
            </a>
          </ul>
        </section>
      </article>
    </section>
    <section
      class="py-5 flex w-full px-5 items-center max-[500px]:flex-col-reverse"
    >
      <h1 class="text-[14px] w-full max-[500px]:mt-7 max-[500px]:text-center">
        © 2024 Carlos Mares DEV. All Rights Reserved.
      </h1>
      <article class="flex space-x-4">
        <a
          href="https://x.com/dev_mares"
          target="_blank"
          class="w-[25px] h-[25px] flex justify-center items-center"
        >
          <i class="ri-twitter-x-fill text-[25px]"></i>
        </a>
        <a
          href="https://github.com/CARLOSMARES"
          target="_blank"
          class="w-[25px] h-[25px] flex justify-center items-center"
        >
          <i class="ri-github-fill text-[25px]"></i>
        </a>
      </article>
    </section>
  </div>
</footer>
