---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Menu from "./Menu.astro";
---

<Header />
<Menu />
<main class="w-full flex flex-col items-center mt-24">
  <div class="w-full max-w-[950px] flex-1">
    <slot />
  </div>
  <Footer />
</main>
