---
import Anchors from "./header/Anchors.astro";

const url = Astro.url.pathname;
const format = url.slice(1);

var URL;

if (format.slice(-1) === "/") {
  URL = format.slice(0, -1);
} else {
  URL = format;
}
---

<header
  class="w-full fixed max-w-[1000px] h-[70px] flex justify-start items-center bg-[#0c0c0c] border-b border-[#181818] px-1.5"
>
  <h1 class="flex w-fit">
    /
    <span class="ml-0.5">
      {URL === "" ? "inicio" : URL}
    </span>
  </h1>
  <nav class="w-full flex justify-end items-center space-x-3">
    {url !== "/" ? <Anchors href="/" title="Inicio" icon="home-2" /> : null}
    <Anchors href="/proyectos" title="Proyectos" icon="bookmark" />
    <Anchors href="/testimonios" title="Testimonios" icon="chat-1" />
    <Anchors href="/contacto" title="Contacto" icon="inbox" />
  </nav>
</header>
