---
import "animate.css";
---

<div>
    <h1 class="animate__animated animate__fadeInDown animate__delay_2s">
        Transformando ideas en soluciones Tecnologicos
    </h1>
    <h2 class="animate__animated animate__lightSpeedInLeft animate__slower">
        Ofrecemos soluciones personalizadas en desarrollo de software,
        auditorías exhaustivas y asesoría estratégica para impulsar el
        crecimiento de tu negocio.
    </h2>
</div>
<style is:inline>
    div {
        margin-top: 1rem;
    }
    h1 {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        color: red;
    }
    h2 {
        display: flex;
        justify-content: center;
        margin: 2rem 10rem 2rem 10rem;
        font-size: 2.5rem;
        color: blue;
    }
</style>
