---
import Card from "./card.astro";
const descripciondirectorio =
    "Proyecto creado en Angular y NodeJS para crear un directorio de personas";
---

<div class="card">
    <h1>Carlos Mares DEV</h1>
    <div class="container">
        <img src="./fondo.webp" />
        <p>
            Somos una empresa dedicada al desarrollo de sistemas de software
            nuestro eslogan es:
            <br />
            <b>"Transformando ideas en soluciones"</b>
        </p>
    </div>
</div>
<h2>Proyectos</h2>
<div class="slider">
    <Card
        titulo="Directorio"
        descripcion=`${descripciondirectorio}`
        textoboton="Visitar Repositorio"
        urlPage="https://github.com/CARLOSMARES/prueba-tecnica-gptx"
        urlProduccion=""
        textoBotonProduccion="Demo"
    />
</div>
