---

---

<h1 class="texto-titulo slogan">
    Transformando ideas en soluciones Tecnologicos
</h1>
<h2 class="texto-subtitulo">
    Ofrecemos soluciones personalizadas en desarrollo de software,auditorías
    exhaustivas y asesoría estratégica para impulsar el crecimiento de tu
    negocio.
</h2>

<style is:inline>
    .slogan {
        background-image: url("/mapa-mundial-conexiones-globales.avif");
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        padding: 20%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        animation: slide-in 1s ease-in-out;
        animation-fill-mode: forwards;
    }
</style>
