---
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const menuIcon = document.querySelector(".menu-icon");
    const menu = document.querySelector(".menu");
    const closeMenu = document.querySelector(".close-menu");
    const navigation = document.querySelector(".navigation");

    if (menuIcon && menu) {
      menuIcon.addEventListener("click", () => {
        menu.classList.toggle("active");
        menuIcon.classList.toggle("active"); // Alterna la clase en el ícono
        navigation.classList.toggle("active"); // Alterna la clase en la navegación
      });
    }

    closeMenu.addEventListener("click", () => {
      menu.classList.remove("active");
      menuIcon.classList.remove("active"); // Remueve la clase en el ícono
      navigation.classList.remove("active"); // Remueve la clase en la navegación
    });
  });
</script>

<div class="navigation opacity-75">
  <img src="logo-rbg.png" alt="Logo" class="logo"/>
  <h1 class="text-3xl">Carlos Mares Dev</h1>
  <nav>
    <div class="menu-icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="menu">
      <li class="close-menu">X</li>
      <li><a href="/">Home</a></li>
      <li><a href="/servicios">Services</a></li>
      <li><a href="/nosotros">About Us</a></li>
      <li><a href="/contacto">Contact</a></li>
    </ul>
  </nav>
</div>
