---
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const menuIcon = document.querySelector(".menu-icon");
    const menu = document.querySelector(".menu");
    const closeMenu = document.querySelector(".close-menu");

    if (menuIcon && menu) {
      menuIcon.addEventListener("click", () => {
        menu.classList.toggle("active");
      });
    }

    closeMenu.addEventListener("click", () => {
      menu.classList.remove("active");
    });
  });
</script>

<div class="navigation">
  <img src="favicon.svg" alt="Logo" />
  <h1>Carlos Mares Dev</h1>
  <nav>
    <div class="menu-icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="menu">
      <li class="close-menu">X</li>
      <li><a href="/">Inicio</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/nosotros">Sobre Nostros</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</div>
