---

---

<div
  class="navigation fixed top-0 left-0 w-full bg-slate-400 shadow-lg flex items-center justify-between p-4 z-50"
>
  <img src="logo-rbg.png" alt="Logo" class="logo w-20 h-20" />
  <h1 class="text-2xl md:text-4xl font-bold text-black">Carlos Mares Dev</h1>
  <nav class="relative">
    <ul class="hidden md:flex space-x-6 text-4xl">
      <li><a href="/" class="text-black hover:text-orange-500">Inicio</a></li>
      <li>
        <a href="/servicios" class="text-black hover:text-orange-500"
          >Servicios</a
        >
      </li>
      <li>
        <a href="/nosotros" class="text-black hover:text-orange-500"
          >Acerca de Nosotros</a
        >
      </li>
      <li>
        <a href="/contacto" class="text-black hover:text-orange-500">Contacto</a
        >
      </li>
      <li>
        <a href="/contacto" class="text-black hover:text-orange-500"
          >Proyectos</a
        >
      </li>
    </ul>
  </nav>
</div>
