---
---
    <div style="flex: 1; text-align: center;">
      <h4>Redes Sociales</h4>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li><a href="https://github.com/CARLOSMARES" target="_blank" style="text-decoration: none; color: #007bff;">GitHub</a></li>
        <li><a href="http://www.linkedin.com/in/carlos-ignacio-olano-mares" target="_blank" style="text-decoration: none; color: #007bff;">LinkedIn</a></li>
      </ul>
    </div>
  
    <!-- Apartado de servicios -->
    <div style="flex: 2; text-align: center;">
      <h4>Servicios</h4>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li><a href="#" style="text-decoration: none; color: #007bff;">Desarrollo Web</a></li>
        <li><a href="#" style="text-decoration: none; color: #007bff;">Desarrollo Movil</a></li>
        <li><a href="#" style="text-decoration: none; color: #007bff;">Consultoría</a></li>
      </ul>
    </div>
  
    <!-- Apartado de términos y condiciones -->
    <div style="flex: 1; text-align: center;">
      <h4>Legal</h4>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li><a href="#" style="text-decoration: none; color: #007bff;">Términos y Condiciones</a></li>
        <li><a href="#" style="text-decoration: none; color: #007bff;">Política de Privacidad</a></li>
      </ul>
    </div>  