/* se utilizar para solo mostrar el borde de un texto */
.border-text-lines {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.texto-titulo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: red;
}

.texto-subtitulo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

.empresa {
  display: flex;
  font-size: 1.5rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;

  img {
    display: flex;
    width: 10%;
    justify-content: center;
    margin-top: 1rem;
  }

  span {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: blue;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
}

.servicio {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30%;
}

.servicio:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
  border-radius: 0.5rem;
}

th {
  padding: 0.5rem;
  border: 3px solid white;
  background-color: blue;
  color: white;
  font-size: 2rem;
}

td {
  padding: 1rem;
  text-align: justify;
  font-size: 1rem;
  border: 3px solid white;
  background-color: red;
  color: black;
}