---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

import Format from "@/components/Format.astro";

import "@fontsource-variable/montserrat";
import "remixicon/fonts/remixicon.css";
import "./global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || ""} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body
    class="flex justify-center h-[100vh] m-0 p-0 bg-[#0c0c0c] text-white font-montserrat"
  >
    <Format>
      <slot />
    </Format>
  </body>
</html>
